<?xml version="1.0" encoding="utf-8"?>
<!-- Déclare le FileProvider app-scopé pour les tests de OpdsDownloadWorker :
     le module worker (androidTest) n'hérite pas du manifeste de `app`, qui
     déclare ce provider en production. Nécessaire pour que
     FileProvider.getUriForFile fonctionne dans ce test. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/opds_test_file_paths" />
        </provider>
    </application>
</manifest>
